<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Trekkoppgjør Kreditor"/>
    <meta name="author" content="pengeflyt-pdfgen"/>
    <meta name="subject" content="Trekkoppgjør Kreditor"/>
    {{#block 'oppgjorsrapporter/T14-style' }}
    {{/block}}
    <title>Oppgjørsrapport arbeidsgiver - refusjoner fra Nav</title>
</head>
<body class="body">
<header class="page-header">
    <img class="nav-logo" src="{{ image "nav-logo.svg" }}" alt="NAV logo"/>
    <h3>Trekkoppgjørsrapport fra Nav </h3>
    <div>
        <table class="header_table">
            <tr>
                <td class="header-column2">Fortsetter fra forrige side </td>
                <td></td>
                <td class="header-column1"></td>
                <td>Periode:</td>
                <td></td>
                <td>{{periode.fra}} - {{periode.til}}</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td>Organisasjonsnr:</td>
                <td></td>
                <td>{{bedrift.orgnr}}</td>
            </tr>
        </table>
    </div>
</header>
<div id="footer">
    <span>Trekkoppgjørsrapport (T14) {{ bedrift.organisajonsnummer }}</span>
    <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</div>

<main class="content">
    <img class="nav-logo" src="{{ image "nav-logo.svg" }}" alt="NAV logo"/>
    <h3>Trekkoppgjørsrapport fra Nav</h3>
    <div>
        <table class="header_table">
            <tr>
                <td>Navn:</td>
                <td></td>
                <td class="header-column2">{{bedrift.navn}}</td>
                <td>Periode:</td>
                <td></td>
                <td>{{periode.fra}} - {{periode.til}}</td>
            </tr>
            <tr>
                <td>Adresse:</td>
                <td></td>
                <td>{{bedrift.adresse}}</td>
                <td>Kontonummer:</td>
                <td></td>
                <td>{{bedrift.kontonummer}}</td>
            </tr>
            <tr>
                <td>Organisasjonsnr:</td>
                <td></td>
                <td>{{bedrift.orgnr}}</td>
            </tr>

        </table>
    </div>
    <div>
        {{#each enheter}}
            <div class="ytelse-block">
                <h4>{{navn}}</h4>
                <table class="ytelse-table">
                    <tr>
                        <th>Arkivref</th>
                        <th>Sakreferanse</th>
                        <th>Fnr</th>
                        <th class="navn_column">Navn</th>
                        <th>Ytelse f.o.m. - t.o.m.</th>
                        <th class="belop-column">Beløp</th>
                    </tr>
                    {{#each arkivreferanser}}
                        {{#each trekk}}
                            <tr>
                                <td>{{tssId}} - {{arkivref}}</td>
                                <td>{{saksreferanse}}</td>
                                <td>{{fnr}}</td>
                                <td>{{navn}}</td>
                                <td>{{periodeFra}} - {{periodeTil}}</td>
                                <td class="belop-column">{{belop}}</td>
                            </tr>
                        {{/each}}

                        <tr class="sum-row">
                            <td colspan="3"></td>
                            <td>Delsum arkivref {{arkivref}}</td>
                            <td></td>
                            <td class="belop-column">{{refnrsum}}</td>
                        </tr>
                    {{/each}}
                    <tr class="sum-row">
                        <td colspan="3"></td>
                        <td>Sum enhet {{navn}}</td>
                        <td></td>
                        <td class="belop-column">{{sumEnhet}}</td>
                    </tr>
                </table>
            </div>
        {{/each}}
        <table class="sumtable">
            <tr>
                <td></td>
                <td>Totalsum kreditor.</td>
                <td class="belop-column">{{totalsum}}</td>
            </tr>
        </table>
    </div>
</main>

</body>
</html>
